#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.big-container {
  width: 100%;
  height: 50vh;
  padding: 20px;
  background-color: #0B2434;
  display: flex;
  justify-content: center;
  align-items: center;
}

.small-container {
  width: 100%;
  height: 100%;
  background-color: #F5F5F5;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
}

.dice-container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(2, auto);
  gap: 20px;
  /* width: 250.88px;
  height: 252.8px; */
  align-items: center;
  justify-content: center;
}

.big-button {
  margin-top: 50px;
  border: none;
  background-color: #498be7;
  color: white;
  padding: 20px;
  border-radius: 8px;
  cursor: pointer;
  font-size: 1.1rem;
  font-family: Inter, sans-serif;
}